@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0 auto;
    background-color: #faf8ef;
}

canvas {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #bbada0;
}

.item {
    width: 550px;
    margin: 20px auto;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item span {
    font-size: 28px;
    color: #776e65;
    font-weight: bold;
    margin-left: 10px;
}

.item button {
    font-size: 20px;
    height: 40px;
    background-color: #bbada0;
    border: 0;
    color: #fff;
    border-radius: 5px;
    box-shadow: inset 2px 2px 3px 1px #c7c1bb;
    cursor: pointer;
}

.item button:hover {
    background: #a29c96;
}

.game {
    width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.game__title {
    text-align: center;
    margin-top: 10%;
    font-size: 30px;
}

.game__title:hover {
    color: #edcf72;
    transition: all 0.3s ease-in-out;
}

.game__list {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    margin-top: 30px;
    background-color: #8f7a66;
    color: #f9f6f2;
    font-size: 40px;
    width: 300px;
    padding: 20px 45px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background-color: #bbada0;
    color: black;
    font-weight: bold;
}

.rules {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #f9f6f2;
}

#app {
    display: block;
    margin: 0 auto;
}

@media (max-width: 550px) {
    canvas {
        width: 400px;
    }

    .item {
        width: 400px;
    }

    .item span {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    canvas {
        width: 300px;
    }

    .item {
        width: 300px;
    }

    .item span {
        font-size: 12px;
    }
}